<h3 class="nue">{{ localize "GMTOOLKIT.Message.Welcome.VersionIsActive" version=this.version }}</h3>

<span class="chat-card-button-area">
<a class="chat-card-button updateToolkitContent-button" data-button="updateMacros">{{ localize "GMTOOLKIT.Message.Welcome.UpdateMacros" }}</a>
<a class="chat-card-button updateToolkitContent-button" data-button="updateTables">{{ localize "GMTOOLKIT.Message.Welcome.UpdateTables" }}</a>
</span>

<footer class="nue">
{{localize "GMTOOLKIT.Message.Welcome.ReleaseNotes"}}: <a href="{{{this.releases}}}/{{this.version}}">v{{this.version}}</a>. {{localize "GMTOOLKIT.Message.Welcome.ContentUpdateWarning"}}</footer>
